certifi==2024.8.30
charset-normalizer==3.3.2
docker==7.1.0
idna==3.10
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
psycopg==3.2.2
psycopg-binary==3.2.2
psycopg-pool==3.2.3
pytest==8.3.3
requests==2.32.3
testcontainers==4.8.1
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.16.0
